*{
    margin: 0px;
    padding: 0px;
}
.upper{
    position: relative;
    /* border: solid 5px; */
    /* top: 50px;
    left: 50px; */
    background-color: #9D44C0;
    width: 1520px;
    text-align: center;
}

ul.navlist li {
display: inline-block;
margin: 5px;
padding: 3px;
position: relative;
/* bottom: 50px; */
margin-right: 20px;
}

.navlist a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 700px;
    position: relative;
    top: 20px;
    left: 20px;
}

#g20{
    position: relative;
    left: 750px;
    bottom: 80px;
    margin-top: 20px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
}

.location{
    position: relative;
    left: 980px;
    bottom: 160px;
    width: 500px;
}
.location a{
    position: relative;
    bottom: 20px;
}

.scrolling_text{
    width: 100%;
}

.scrolling_text {
    width: 30rem;
    position: absolute;
    top: 8rem;
    left: 5rem;
}

.scrolling_text a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nsut-song{
    position: absolute;
    top: 8rem;
    left: 62rem;
}

.nsut-song audio{
    width: 18rem;
    height: 2rem;
}

.segment1{
    position: relative;
    background-color: lightcoral;
    background-image: url("nsut\ green\ view.jpg");
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 700px;
    /* border: solid 3px black; */
}

.welcome h1{
    position: relative;
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Kanit', sans-serif;

}
.welcome h2{
    position: relative;
    text-align: center;
    color: wheat;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;

}

.seg2{
    background-color: #E4F1FF;
    height: 400px;
}
.about{
    /* border: solid 3px black; */

    position: relative;
    top: 70px;
    padding: 25px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 100;
    font-size: larger;
}

.about h1{
    margin-bottom: 20px;
    border-bottom: solid 3px black;
    display: inline-block;
    color: red;
}

.segment2{
    position: relative;
    height: 300px;
    top: 0px;
    margin-bottom: 100px;
}

.segment2 p{
    display: inline-block;
    line-height: 40px;
}
.segment3{
    /* border: solid 3px black; */
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #9D44C0;
}

.seg3{
    border: solid 3px black;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    position: relative;
    top: 30px;
    background-color: #AED2FF;
    box-shadow: 0px 2px 12px 0px;
    font-family: 'Kanit', sans-serif;
}

.seg3_content{
    border: solid 3px black;
    height: 150px;
    width: 250px;
    background-color: #E4F1FF;
    box-shadow: 0px 8px 8px 0px;
}

#campus_content{
    position: absolute;
    top: 82px;
    right: 1085px;
}
#campus_content li{
    position: relative;
    left: 60px;
    top: 30px;
    font-size: large;
    padding: 5px;
}
#ranking_content{
    position: absolute;
    top: 82px;
    right: 630px;
}
#ranking_content li{
    position: relative;
    left: 35px;
    width: 200px;
    top: 30px;
    font-size: large;
}
#vc_content{
    position: absolute;
    top: 82px;
    right: 175px;
}

#vc_content span{
    display: inline-block;
    position: relative;
    top: 30px;
    width: 200px;
    left: 30px;
    font-size: large;
}
.seg3 h2{
    text-align: center;
    margin-top: 10px;
}

.segment4{
    background-color: #AED2FF;
    position: relative;
    height: 1000px;
}

.segment4 h1{
    text-align: center;
    /* margin-top: 100px; */
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
}

.admission {
    display: flex;
    justify-content: center;
}

.segment4 li{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
}

.phd {
    margin-left: 50px;
    width: 300px;
}
.ug {
    margin-left: 50px;
    width: 400px;
}
.pg{
    margin-left: 50px;
    width: 500px;
}

.seg4_content{
    position: relative;
    top: 100px;
}

.admission h3{
    margin-left: 50px;
    width: 100px;
    font-size: 30px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.segment5{

    background-color: #E4F1FF;
    height: 600px;
}

.all_departments{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.department_heading {
    /* margin-top: 50px; */
    padding-top: 50px;
}
.segment5 h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
}

.all_departments img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 185px;
    margin-bottom: 30px;
}

.all_departments p{
    width: 400px;
    font-size: large;
    text-align: center;
    margin: 30px;
    line-height: 25px;
}

.all_departments h2{
    text-align: center;
    margin-bottom: 30px;
}

.all_departments button{
    position: relative;
    left: 160px;
    background-color: white;
    border: solid 2px black;
    padding: 15px 32px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px black;
}

.photos img{
    width: 300px;
    height: 175px;
    margin: 30px;
    border: 3px solid black;
    border-radius: 15px;
}

.photos {
    margin-left: 210px;
}

.gallery_content h1{
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 30px 0px;
}

.gallery{
    height: 500px;
}

.gallery_content button{
    position: relative;
    top: 30px;
    left: 700px;
    background-color: white;
    border: solid 2px black;
    padding: 15px 32px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px black;
}

.gallery_content button a{
    text-decoration: none;
}

.last_segment{
    background-color: #9D44C0;
    height: 600px;
}

.last_segment_content {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 100px;
}

.last_segment_content h3{
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
    border: solid 3px black;
    background-color: rgb(13, 196, 206);
}

.last_segment_content li{
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: dashed 1px white;
}
.quick_links{
    padding: 0px 80px;
    border-right: solid 3px black;
}

.explore{
    padding: 0px 100px;
    border-right: solid 3px black;
}

.social_media{
    padding: 0px 50px;
    border-right: solid 3px black;
}

.intro{
    margin-top: 50px;
}

.intro p{
    margin-top: 30px;
    color: white;
}

.last_segment_content a{
    text-decoration: none;
    color: white;
}

.scrolling-gap{
    display: inline-block;
    width: 50px;
}